<header>
  <div class="py-6">
    <div class="container relative">
      <div class="flex -mx-4 items-center justify-between">
        <div class="px-4">
          <a href=""><img src="{{ 'logo.png' | asset_url }}" alt="" width="" height=""></a>
        </div>
        <div class="px-4">
          <ul class="mainMenu">
            <li><a href="">Shop</a></li>
            <li><a href="">On Sale</a></li>
            <li><a href="">New Arrivals</a></li>
            <li><a href="">Brands</a></li>
          </ul>
        </div>
        <div class="px-4">
          <form class="flex items-center bg-gray-100 rounded-full px-4">
            {% render 'search-icon' %}
            <input
              class="p-4 w-full"
              name="search"
              type="search"
              placeholder="Search for products"
            >
          </form>
        </div>
        <div class="px-4">
          <div class="flex">
            <a class="mr-2" href="">
              {% render 'cart-icon' %}
            </a>
            <a href="">
              {% render 'admin-icon' %}
            </a>
          </div>
        </div>
      </div>
      <div class="cart-drawer hidden top-auto absolute shadow-xl min-w-[300px] right-6 -mt-4">
        <div class="relative bg-white p-6">
          <button class="cart-drawer-close absolute right-2 top-2 cursor-pointer">{% render 'close-icon' %}</button>
          <div id="cart-drawer-items">
            {% comment %}
              {% for item in cart.items %}
                <div class="flex items-center py-2">
                  <div class="flex-shrink-0">
                    <img
                      src="{{ item.image | image_url: width: 65 }}"
                      alt="{{ item.title }}"
                      class="object-cover border border-black/10 rounded-lg"
                      width=""
                      height=""
                    >
                  </div>
                  <div class="flex-1 ml-4">
                    <h4 class="text-sm font-semibold">{{ item.title }}</h4>
                    <p class="text-sm text-gray-500">{{ item.quantity }} x {{ item.price | money }}</p>
                  </div>
                </div>
              {% endfor %}
            {% endcomment %}
          </div>

          <div class="flex gap-4 my-5">
            <div class="flex-1 block text-center border border-black/10 py-2 ">
              <a href=" {{ routes.cart_url }}">View Cart</a>
            </div>

            <div class="flex-1 block text-center bg-black text-white border border-black/10 py-2">
              <a href="/checkout">Checkout</a>
            </div>
          </div>

          <div class="text-center ">
            <button class="cart-drawer-close cursor-pointer">Continue Shopping</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
