<div>
  <script src="{{ 'add-to-cart.js' | asset_url }}" defer="defer"></script>

  <div class="container mb-20">
    <div class="flex items-center">
      <a class="text-black/60" href="">Home</a>
      {% render 'greater-arrow' %}
      <span>{{ product.title }}</span>
    </div>
    <h1 class="rff-section-title ">{{ product.title }}</h1>

    <div>{{ product.content }}</div>

    {% form 'product', product %}
      {% if product.variants.size > 1 %}
        <select id="variant_id">
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title }}</option>
          {% endfor %}
        </select>

      {% else %}
        <input
          name="quantity"
          type="hidden"
          class="quantity-hidden"
          id="variant_id"
          value="{{ product.variants.first.id }}"
        >
      {% endif %}

      <div class="flex items-center">
        {% render 'stepper-number', type: 'product' %}
        <button type="submit" class="button-style py-[15px] px-10">Add to cart</button>
      </div>
    {% endform %}
  </div>
</div>
